.user {
  padding: 0.5px;
}

.usercard {
  background-color: rgb(192, 77, 115);
  border-radius: 5px;
}

.usercardtitle {
  font-weight: 5px;
  font-style: italic;
}

.usercardmargin {
  margin: 0.5px;
}
