.feedback-form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.feedback-form {
    width: 65%;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
}

.form-title {
    margin-right: 42%;
}

.feedback-form-label{
    margin: 30px 0 18px 0;
    font-size: 20px;
}

.form-textarea{
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.form-btn, .back-btn{
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    width: 100px;
    border-radius: 6px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background-color: rgb(227, 28, 95);
    border: none;
    font-weight: 600;
}

.back-buttons{
    margin-right: 80%
}

