.form-group{
    margin-top: 5%;
    padding-top: 4%;
    padding-left: 1%;
}

#input{
    margin-left: 1%;
}

#forgetpasswordbutton{
    margin-top: 3%;
    margin-left: 51%;
    background-color: rgb(227, 28, 95);
}

#forgetpasswordmessage{
    
    margin-left: 50%;
}

#loginmessage{
    margin-left: 54%;
}