.header {
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.header-navbar {
  color: rgb(227, 28, 95) !important;
  font-size: 85% !important;
}
.header-content {
  font-size: 90% !important;
  color: rgb(227, 28, 95) !important;
}
.header-items {
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(227, 28, 95);
}
.header-items button {
  color: white;
  background-color: rgb(227, 28, 95);
  border: none;
  font-size: 35px;
  font-weight: 600;
}

#registration-heading {
  color: rgb(227, 28, 95);
  padding-left: 15%;
}

.container {
  margin-left: 171%;
  margin-top: -13%;
}

.dropdown-toggle nav-link {
  color: rgb(227, 28, 95) !important;
}

#title {
  color: rgb(227, 28, 95);
}
