#homenavigation{
    margin-left: 130%;
}

#homeimage{
    width: 100%;
    
}

#searchbar{
    margin-top: -55%;
    margin-left: 38%;
}

#searchbutton{
   background-color: rgb(255,99,71)
}
#searchbarsize{
    width: 40%;
}

.homwbelowcontainer
{
height: 1000% !important;
width: 100% !important;
}