#password_div{
    margin-top: -2% !important;
}

.input{
    margin-left: 2%;
}
 
#confirm{
    margin-left: 2%;
}

#resetbutton{
    margin-top: 3% !important;
    margin-left: 50%;
    background-color: rgb(227, 28, 95);
}
#message{
    margin-left: 54%;
}