.reviews-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-right {
    width: 60%;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;

}

.reviews-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.reviews-search-content {
    font-size: 25px;
}

.reviews-h1 {
    margin-top: 80px;
    font-size: 35px;
}

.reviews-content-h3 {
    font-size: 25px;
}

.reviews-content {
    font-size: 25px;
    margin-bottom: 70px;
    border: 1px solid dimgray;
    border-radius: 6px;
    padding: 10px 10px 30px;
}

.reviews-btn, .back-btn {
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    width: 100px;
    border-radius: 6px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background-color: rgb(227, 28, 95);
    border: none;
    font-weight: 600;
}

.reviews-buttons {
    margin-left: 70%
}

.room-reviews-buttons {
    margin-right: 80%
}
