/*Written by Qinyue Wang, B00892024, qn642785@dal.ca*/
/*The css file is used for ReviewEdit and ReviewWrite pages*/

.re-house-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.re-house-name-h1 {
    font-size: 30px;
    text-align: center;
    width: 800px;
}

.re-star-evaluation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.re-textarea {
    margin: 20px;
    width: 600px;
    height: 300px;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
}

.re-edit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.re-text-p{
    color: #f00e0e;
    text-align: center;
    font-size: 18px;
    margin: 0 0 12px 0;
}


.re-edit-btn {
    font-size: 20px;
    margin: 10px 2px;
    width: 100px;
    border-radius: 6px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background-color: rgb(227, 28, 95);
    border: none;
    font-weight: 600;
}
