/*
Author: Prarthana Parmar
Description: This is the css file for RoomItem component.
*/
.user-card {
    width: 90%;
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 100%;
    height: auto;
    display:flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

.title {
    text-align: center;
    display: inline;
    color: rgb(227, 28, 95);
    font-size:150%
}

.col-sm-3{
    margin-left: 5%;
}
.content {
    font-size: 120%;
}

.button {
    text-align: center;
    align-items: center;
    background-color: rgb(227, 28, 95);
    color: white;
    width: 100%;
    border-radius: 10%;
    width: 10%;
}

#buttn{
    text-align: center;
    display: flex;
    justify-content: center;
}